openapi: 3.0.3
info:
  title: UniSat Wallet - OpenAPI
  version: 1.0.4
  description: This is UniSat Wallet Open API. If you wish to use the OpenAPI, please feel free to send us an email, and we will provide you with an API KEY.
  contact:
    email: contact@unisat.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://open-api-fractal.unisat.io
    description: Mainnet endpoint for public.
  - url: https://open-api-fractal-testnet.unisat.io
    description: Testnet endpoint for public.
tags:
  - name: Fractal
    description: Fractal Only
  - name: Blocks
    description: Blocks
  - name: Transactions
    description: Transactions
  - name: Addresses
    description: Addresses
  - name: Inscriptions
    description: Inscriptions (https://docs.ordinals.com/inscriptions.html)
  - name: BRC-20
    description: BRC-20 (https://domo-2.gitbook.io/brc-20-experiment)
  - name: Runes
    description: Runes (https://docs.ordinals.com/runes.html)
  - name: Inscribe
    description: Inscribe Service
  - name: BRC20-Swap
    description: BRC20-swap Service
  - name: MarketPlace-BRC20
    description: BRC20 MarketPlace Service
  - name: MarketPlace-Collection
    description: Collection MarketPlace Service
  - name: MarketPlace-Domain
    description: Domain MarketPlace Service
  - name: Collection-Indexer
    description: Collection Indexer Service
paths:
  /v1/public/fractal/supply:
    get:
      tags:
        - Fractal
      summary: Get circulating FB in fractal mainnet
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: "#/components/schemas/FractalSupply"
        "401":
          description: Invalid API Key
  /v1/public/fractal/total-supply:
    get:
      tags:
        - Fractal
      summary: Get total supply FB in fractal mainnet
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: "#/components/schemas/FractalSupply"
        "401":
          description: Invalid API Key
  /v1/public/address/total:
    get:
      tags:
        - Fractal
      summary: Get total address
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                    example: OK
                  data:
                    type: number
        "401":
          description: Invalid API Key
  /v1/public/address/rich-list:
    get:
      tags:
        - Fractal
      summary: Return the address list in descending order of amount.
      parameters:
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned (Max 10000)
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: "#/components/schemas/AddressBalance"
        "401":
          description: Invalid API Key
  /v2/inscribe/order/summary:
    get:
      tags:
        - Inscribe
      summary: Get order summary of current apikey
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: "#/components/schemas/OrderSummary"
        "401":
          description: Invalid API Key
  /v2/inscribe/order/list:
    get:
      tags:
        - Inscribe
      description: Get order list of current apikey
      parameters:
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
        - name: sort
          description: Sort by (asc/desc)
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - name: status
          description: Status of order
          in: query
          required: false
          schema:
            type: string
            enum:
              - pending
              - inscribing
              - minted
              - closed
              - refunded
        - name: receiveAddress
          description: ReceiveAddress of order
          in: query
          required: false
          schema:
            type: string
        - name: clientId
          description: ClientId of order
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/Order"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key

  /v2/inscribe/order/{orderId}:
    get:
      tags:
        - Inscribe
      summary: Search an order by orderId
      description: |-
        It's recommended to query the latest status every 10 seconds.

        _amount = outputValue*count + minerFee + serviceFee + devFee_
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: "#/components/schemas/Order"
        "401":
          description: Invalid API Key
  /v2/inscribe/order/create:
    post:
      tags:
        - Inscribe
      summary: Create an order
      description: Create an order to inscribe something
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateParams"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: "#/components/schemas/Order"
        "401":
          description: Invalid API Key
  /v2/inscribe/order/create/brc20-deploy:
    post:
      tags:
        - Inscribe
      summary: Create an order to inscribe BRC-20 DEPLOY
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateBRC20DeployParams"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: "#/components/schemas/Order"
        "401":
          description: Invalid API Key
  /v2/inscribe/order/create/brc20-mint:
    post:
      tags:
        - Inscribe
      summary: Create an order to inscribe BRC-20 MINT
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateBRC20MintParams"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: "#/components/schemas/Order"
        "401":
          description: Invalid API Key
  /v2/inscribe/order/create/brc20-transfer:
    post:
      tags:
        - Inscribe
      summary: Create an order to inscribe BRC-20 TRANSFER
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateBRC20TransferParams"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: "#/components/schemas/Order"
        "401":
          description: Invalid API Key
  /v2/inscribe/order/create/brc20-5byte-mint:
    post:
      tags:
        - Inscribe
      summary: Create an order to inscribe BRC-20 MINT
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateBRC205ByteMintParams"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: "#/components/schemas/Order"
        "401":
          description: Invalid API Key
  /v2/inscribe/order/request-commit/brc20-5byte-mint:
    post:
      tags:
        - Inscribe
      summary: Request commit txs of brc20-5byte-mint
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderRequestCommitBRC205ByteMintParams"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: "#/components/schemas/OrderRequestCommitBRC205ByteMintResponse"
        "401":
          description: Invalid API Key
  /v2/inscribe/order/sign-commit/brc20-5byte-mint:
    post:
      tags:
        - Inscribe
      summary: Sign commit txs of brc20-5byte-mint
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderSignCommitBRC205ByteMintParams"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: "#/components/schemas/OrderSignCommitBRC205ByteMintResponse"
        "401":
          description: Invalid API Key
  /v2/inscribe/order/sign-reveal/brc20-5byte-mint:
    post:
      tags:
        - Inscribe
      summary: Sign reveal txs of brc20-5byte-mint
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderSignRevealBRC205ByteMintParams"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: "#/components/schemas/OrderSignRevealBRC205ByteMintResponse"
        "401":
          description: Invalid API Key
  /v2/inscribe/order/create/runes-etch:
    post:
      tags:
        - Inscribe
      summary: Create an order to etch Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateRunesEtchParams"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: "#/components/schemas/Order"
        "401":
          description: Invalid API Key
  /v2/inscribe/order/create/runes-mint:
    post:
      tags:
        - Inscribe
      summary: Create an order to mint Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateRunesMintParams"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                  msg:
                    type: string
                  data:
                    $ref: "#/components/schemas/Order"
        "401":
          description: Invalid API Key

  /v2/inscribe/order/{orderId}/refund:
    post:
      tags:
        - Inscribe
      summary: Process a refund for an order.
      description: >-
        When the amount paid by the user includes inscriptions, inscribing
        cannot be performed. Refund can be requested through this method.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refundFeeRate:
                  type: number
                  format: float
                  example: 1
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      txid:
                        type: string
                        description: txid of refunded transaction
        "401":
          description: Invalid API Key
  /v2/inscribe/order/{orderId}/refund-estimate:
    post:
      tags:
        - Inscribe
      summary: Estimate the size of the refund transaction
      description: >-
        RefundAmount = PaidAmount - RefundTxSize * RefundFeeRate. This value
        must be greater than SafeRefundAmount, otherwise there's a risk of
        losing inscriptions used for payment due to errors.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      paidAmount:
                        type: integer
                        format: int32
                      refundTxSize:
                        type: integer
                        format: int32
                        description: The refund amount = size * refundFeeRate
                      safeRefundAmount:
                        type: integer
                        format: int32
        "401":
          description: Invalid API Key
  /v1/indexer/blockchain/info:
    get:
      tags:
        - Blocks
      description: Get blockchain info.
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      chain:
                        type: string
                      blocks:
                        type: integer
                      headers:
                        type: integer
                      bestBlockHash:
                        type: string
                      prevBlockHash:
                        type: string
                      medianTime:
                        type: integer
                      chainwork:
                        type: string
        "401":
          description: Invalid API Key
  /v1/indexer/height/{height}/block:
    get:
      tags:
        - Blocks
      description: Get block info by block height.
      parameters:
        - name: height
          description: Block height
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: "#/components/schemas/BlockInfo"
        "401":
          description: Invalid API Key
  /v1/indexer/block/id/{blockid}:
    get:
      tags:
        - Blocks
      description: Get block info by blockid.
      parameters:
        - name: blockid
          description: Block id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: "#/components/schemas/BlockInfo"
        "401":
          description: Invalid API Key
  /v1/indexer/block/{height}/txs:
    get:
      tags:
        - Blocks
      description: Get tx history by block height.
      parameters:
        - name: height
          description: Block height
          in: path
          required: true
          schema:
            type: integer
          example: 800000
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/TxHistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/tx/{txid}:
    get:
      tags:
        - Transactions
      description: Get the summary info of a tx.
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: "#/components/schemas/TxHistoryItem"
        "401":
          description: Invalid API Key
  /v1/indexer/tx/{txid}/ins:
    get:
      tags:
        - Transactions
      description: Get the inputs of a tx.
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      address:
                        type: string
                      codeType:
                        description: >-
                          0~3: Reserved , 4: CodeType_P2PK, 5: CodeType_P2PKH,
                          6: CodeType_P2SH, 7: CodeType_P2WPKH, 8:
                          CodeType_P2WSH, 9: CodeType_P2TR
                        type: integer
                        enum:
                          - 0
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                      inscriptions:
                        type: array
                        items:
                          $ref: "#/components/schemas/InscriptionItem"
                      satoshi:
                        type: integer
                      scriptPk:
                        type: string
                      scriptSig:
                        type: string
                      scriptType:
                        type: string
                      scriptWits:
                        type: string
                      sequence:
                        type: integer
                      height:
                        type: integer
                      txid:
                        type: string
                      idx:
                        type: integer
                      heightTxo:
                        type: integer
                      utxid:
                        type: string
                      vout:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/tx/{txid}/outs:
    get:
      tags:
        - Transactions
      description: Get the outputs of a tx.
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      address:
                        type: string
                      codeType:
                        type: integer
                      inscriptions:
                        type: array
                        items:
                          $ref: "#/components/schemas/InscriptionItem"
                      satoshi:
                        type: integer
                      scriptPk:
                        type: string
                      scriptType:
                        type: string
                      height:
                        type: integer
                      txid:
                        type: string
                      idx:
                        type: integer
                      heightSpent:
                        type: integer
                      txidSpent:
                        type: string
                      vout:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/rawtx/{txid}:
    get:
      tags:
        - Transactions
      description: Get the rawtx of a tx.
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: string
        "401":
          description: Invalid API Key

  /v1/indexer/utxo/{txid}/{index}:
    get:
      tags:
        - Transactions
      description: Get the utxo info
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
        - name: index
          description: Tx id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: object
                    properties:
                      txid:
                        type: string
                      vout:
                        type: integer
                        example: 0
                      satoshi:
                        type: integer
                        example: 10000
                      scriptType:
                        type: string
                      scriptPk:
                        type: string
                      codeType:
                        type: integer
                      address:
                        type: string
                      height:
                        type: integer
                      idx:
                        type: integer
                      inscriptions:
                        type: array
                        items:
                          $ref: "#/components/schemas/InscriptionItem"
                      isOpInRBF:
                        type: boolean
                        example: false
                      isSpent:
                        type: boolean
                        example: false

        "401":
          description: Invalid API Key

  /v1/indexer/local_pushtx:
    post:
      tags:
        - Transactions
      description: Push rawtx to bitcoin node.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LocalPushParams"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: string
        "401":
          description: Invalid API Key

  /v1/indexer/local_pushtxs:
    post:
      tags:
        - Transactions
      description: Push rawtx to bitcoin node.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LocalPushtxsParams"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: array
                    items:
                      type: string
        "401":
          description: Invalid API Key

  /v1/indexer/address/{address}/balance:
    get:
      tags:
        - Addresses
      description: Get balance by address.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      address:
                        type: string
                      satoshi:
                        type: integer
                      pendingSatoshi:
                        type: integer
                      utxoCount:
                        type: integer
                      btcSatoshi:
                        type: integer
                      btcPendingSatoshi:
                        type: integer
                      btcUtxoCount:
                        type: integer
                      inscriptionSatoshi:
                        type: integer
                      inscriptionPendingSatoshi:
                        type: integer
                      inscriptionUtxoCount:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/history:
    get:
      tags:
        - Addresses
      description: Get the tx history by address.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/TxHistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/utxo-data:
    get:
      tags:
        - Addresses
      summary: Get non inscription UTXO list by address
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      utxo:
                        type: array
                        items:
                          $ref: "#/components/schemas/UTXO"
        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/inscription-utxo-data:
    get:
      tags:
        - Addresses
      summary: Get inscription UTXO list by address
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      utxo:
                        type: array
                        items:
                          $ref: "#/components/schemas/UTXO"
        "401":
          description: Invalid API Key

  /v1/indexer/inscription/info/{inscriptionid}:
    get:
      tags:
        - Inscriptions
      description: Get inscription info by inscriptionId
      parameters:
        - name: inscriptionid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      address:
                        type: string
                      brc20:
                        description: Only BRC20 transfer have this value
                        type: object
                        properties:
                          amt:
                            type: string
                          decimal:
                            type: string
                          lim:
                            type: string
                          max:
                            type: string
                          minted:
                            type: string
                          op:
                            type: string
                          tick:
                            type: string
                          to:
                            type: string
                      contentBody:
                        description: Only text type have this value
                        type: string
                      contentLength:
                        type: integer
                      contentType:
                        type: string
                      height:
                        type: integer
                      inSatoshi:
                        type: integer
                      outSatoshi:
                        type: integer
                      inscriptionId:
                        type: string
                      inscriptionIndex:
                        type: integer
                      inscriptionNumber:
                        type: integer
                      offset:
                        type: integer
                      timestamp:
                        type: integer
                      utxo:
                        type: object
                        properties:
                          address:
                            type: string
                          codeType:
                            type: integer
                          height:
                            type: integer
                          idx:
                            type: integer
                          inscriptions:
                            type: array
                            items:
                              $ref: "#/components/schemas/InscriptionItem"
                          isOpInRBF:
                            type: boolean
                            example: false
                          satoshi:
                            type: integer
                            example: 10000
                          scriptPk:
                            type: string
                          scriptType:
                            type: string
                          txid:
                            type: string
                          vout:
                            type: integer
                            example: 0
        "401":
          description: Invalid API Key
  /v1/indexer/inscription/content/{inscriptionid}:
    get:
      tags:
        - Inscriptions
      description: Get inscription content info by inscriptionId
      parameters:
        - name: inscriptionid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content: {}
        "401":
          description: Invalid API Key
  /v1/indexer/inscription/events:
    get:
      tags:
        - Inscriptions
      description: Get inscription events
      parameters:
        - name: start
          description: Start blockheight
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: end
          description: End blockheight (0 represents the inclusion of mempool data.)
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/InscriptionEvent"
        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/inscription-data:
    get:
      tags:
        - Addresses
      summary: Get inscription UTXO list by address
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      inscription:
                        type: array
                        items:
                          $ref: "#/components/schemas/InscriptionData"
        "401":
          description: Invalid API Key

  /v1/indexer/brc20/bestheight:
    get:
      tags:
        - BRC-20
      summary: Get the best block height of BRC20 data.
      description: >-
        Get the best block height of BRC20 data. This value will be consistent
        with the latest block height a short time after the block has been
        confirmed.
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        description: best block height of brc20
                        type: integer
                      total:
                        description: total number of brc20 tickers
                        type: integer
        "401":
          description: Invalid API Key

  /v1/indexer/brc20/list:
    get:
      tags:
        - BRC-20
      description: Get the tiker list of BRC20 token.
      parameters:
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        items:
                          type: string
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/brc20/status:
    get:
      tags:
        - BRC-20
      description: >-
        Obtain BRC20 list status
      parameters:
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
        - name: sort
          description: sort by (holders/deploy/minted/transactions)
          in: query
          required: false
          schema:
            type: string
            enum:
              - holders
              - deploy
              - minted
              - transactions
          example: "deploy"
        - name: complete
          description: filter by (completed or not)
          in: query
          required: false
          schema:
            type: string
            enum:
              - yes
              - no
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: integer
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20InfoItem"
        "401":
          description: Invalid API Key

  /v1/indexer/brc20/{ticker}/info:
    get:
      tags:
        - BRC-20
      description: Get the infomation of BRC20 by ticker.
      parameters:
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: "#/components/schemas/BRC20InfoItem"

        "401":
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/holders:
    get:
      tags:
        - BRC-20
      description: Get the holders of BRC20 by ticker.
      parameters:
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: object
                    properties:
                      detail:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            availableBalance:
                              type: string
                            overallBalance:
                              type: string
                            transferableBalance:
                              type: string
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/history:
    get:
      tags:
        - BRC-20
      description: Get the full history of BRC20.
      parameters:
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: true
          schema:
            type: string
            enum:
              - inscribe-deploy
              - inscribe-mint
              - inscribe-transfer
              - transfer
              - send
              - receive
        - name: height
          description: Block height
          in: query
          required: true
          schema:
            type: integer
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/tx/{txid}/history:
    get:
      tags:
        - BRC-20
      description: Get the full history of BRC20 by address.
      parameters:
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
        - name: txid
          description: txid
          in: path
          required: true
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: true
          schema:
            type: string
            enum:
              - inscribe-deploy
              - inscribe-mint
              - inscribe-transfer
              - transfer
              - send
              - receive
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/brc20/history-by-height/{height}:
    get:
      tags:
        - BRC-20
      description: Get the tiker list of BRC20 token.
      parameters:
        - name: height
          description: Block Height
          in: path
          required: true
          schema:
            type: integer
          example: 818698
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: number
                      total:
                        type: integer
                      start:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryItem"

        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/summary:
    get:
      tags:
        - BRC-20
      description: >-
        Obtain BRC20 token summary by address, including available balance,
        transferable balance
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: integer
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          type: object
                          properties:
                            ticker:
                              type: string
                            overallBalance:
                              type: string
                            transferableBalance:
                              type: string
                            availableBalance:
                              type: string
        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/summary-by-height/{height}:
    get:
      tags:
        - BRC-20
      description: >-
        Obtain BRC20 token summary by address, including available balance,
        transferable balance
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: height
          description: Block Height
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: integer
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          type: object
                          properties:
                            ticker:
                              type: string
                            overallBalance:
                              type: string
                            transferableBalance:
                              type: string
                            availableBalance:
                              type: string
        "401":
          description: Invalid API Key

  /v1/indexer/address/{address}/brc20/{ticker}/info:
    get:
      tags:
        - BRC-20
      description: >-
        Obtain BRC20 token infomation by address, including available balance,
        transferable balance, number of transferable inscriptions, the first few
        Inscriptions, etc.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      ticker:
                        type: string
                      overallBalance:
                        type: string
                      availableBalance:
                        type: string
                      availableBalanceSafe:
                        type: string
                      availableBalanceUnSafe:
                        type: string
                      transferableBalance:
                        type: string
                      historyCount:
                        type: integer
                      historyInscriptions:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryInscription"
                      transferableCount:
                        type: integer
                      transferableInscriptions:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryInscription"
        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/history:
    get:
      tags:
        - BRC-20
      description: Get the full history of BRC20 by address.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key

  /v1/indexer/address/{address}/brc20/{ticker}/history:
    get:
      tags:
        - BRC-20
      description: Get the full history of BRC20 by address.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: true
          schema:
            type: string
            enum:
              - inscribe-deploy
              - inscribe-mint
              - inscribe-transfer
              - transfer
              - send
              - receive
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/{ticker}/transferable-inscriptions:
    get:
      tags:
        - BRC-20
      description: Get the transferable inscriptions list of BRC20 by address.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: ticker
          description: Token ticker
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        properties:
                          inscriptionNumber:
                            type: integer
                          inscriptionId:
                            type: string
                          satoshi:
                            type: integer
                          confirmations:
                            type: integer
                          data:
                            properties:
                              op:
                                type: string
                              tick:
                                type: string
                              lim:
                                type: string
                              amt:
                                type: string
                              decimal:
                                type: string
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/brc20-module/{module}/history:
    get:
      tags:
        - BRC-20
      description: Get the history of BRC20 Module.
      parameters:
        - name: module
          description: Address
          in: path
          required: true
          schema:
            type: string
          example: fd5bd482bed1b62d0702e2f19a1e3bdd4fb755fa5c9bed5d8d0f219a3219ee95i0
        - name: start
          description: Start height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: end
          description: End height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: cursor
          description: Start Offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of events returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/ModuleHistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key

  /v1/indexer/brc20-module/withdraw-history:
    get:
      tags:
        - BRC-20
      description: Get the withdraw history of BRC20.
      parameters:
        - name: start
          description: Start height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: end
          description: End height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: cursor
          description: Start Offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of events returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/ModuleHistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key

  /v1/brc20-swap/config:
    get:
      summary: Swap's global configuration information.
      tags:
        - BRC20-Swap
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      moduleId:
                        type: string
                      serviceGasTick:
                        description: The tick used for the second layer gas.
                        type: string
                      pendingDepositDirectNum:
                        description: Number of confirmations required for direct deposit.
                        type: number
                      pendingDepositMatchingNum:
                        description: Number of confirmations required for matching deposit.
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/balance:
    get:
      summary: Gets the balance for the specified address and tick.
      tags:
        - BRC20-Swap
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      balance:
                        type: object
                        properties:
                          module:
                            description: Confirmed module balance.
                            type: string
                          swap:
                            description: Confirmed swap balance.
                            type: string
                          pendingSwap:
                            description: The balance converted from pending to swap.
                            type: string
                          pendingAvailable:
                            description: The balance converted from pending to module.
                            type: string
                        additionalProperties: false
                      decimal:
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/all_balance:
    get:
      summary: Gets the balances for the specified address and tick.
      tags:
        - BRC20-Swap
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    balance:
                      type: object
                      properties:
                        module:
                          description: Confirmed module balance.
                          type: string
                        swap:
                          description: Confirmed swap balance.
                          type: string
                        pendingSwap:
                          description: The balance converted from pending to swap.
                          type: string
                        pendingAvailable:
                          description: The balance converted from pending to module.
                          type: string
                      additionalProperties: false
                    decimal:
                      type: string
                    withdrawLimit:
                      type: string
                  required:
                    - balance
                    - decimal
                    - withdrawLimit
  /v1/brc20-swap/deposit_info:
    get:
      summary:
        Get deposit information for the specified address and tick, including
        daily limit, dosage, recommended deposit amount, etc.
      tags:
        - BRC20-Swap
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      dailyAmount:
                        description: Amount deposit on the day.
                        type: string
                      dailyLimit:
                        description: Limit for the day.
                        type: string
                      recommendDeposit:
                        description: Recommended deposit amount.
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/select:
    get:
      summary: Select the tick information that you can use based on the address.
      tags:
        - BRC20-Swap
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: search
          required: false
          description: Fuzzy matching
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        tick:
                          type: string
                        decimal:
                          type: string
                        brc20Balance:
                          description: Module balance (not participate in swap calculations)
                          type: string
                        swapBalance:
                          description: Swap balance
                          type: string
                      additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/pre_deploy_pool:
    get:
      summary:
        /deploy_pool interface pre-load, get the signature content, gas and
        byte information.
      tags:
        - BRC20-Swap
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick0
          required: true
        - schema:
            type: string
          in: query
          name: tick1
          required: true
        - schema:
            type: number
          in: query
          name: ts
          required: true
          description: Timestamp (seconds)
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      signMsg:
                        description: User signature information
                        type: string
                      bytesL1:
                        description: Number of bytes on L1 chain
                        type: number
                      bytesL2:
                        description: Number of bytes on L1 chain
                        type: number
                      feeRate:
                        description: Bitcoin network fee rate
                        type: string
                      gasPrice:
                        description: L2 cost per byte
                        type: string
                      serviceFeeL1:
                        type: string
                      serviceFeeL2:
                        type: string
                      unitUsdPriceL1:
                        description: L1 USD price per sats
                        type: string
                      unitUsdPriceL2:
                        description: L2 USD price per sats
                        type: string
                      serviceTickBalance:
                        description: The user's remainin L2 sats balance
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/deploy_pool:
    post:
      summary: Deploy the pool operation.
      tags:
        - BRC20-Swap
      requestBody:
        content:
          application/json:
            schema:
              required:
                - address
                - tick0
                - tick1
                - ts
                - sig
              type: object
              properties:
                address:
                  type: string
                tick0:
                  type: string
                tick1:
                  type: string
                ts:
                  description: Timestamp (seconds)
                  type: number
                sig:
                  description: User signature
                  type: string
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties: {}
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/quote_add_liq:
    get:
      summary: Based on the pair to get the actual addition ratio, LP number and other information.
      tags:
        - BRC20-Swap
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick0
          required: true
        - schema:
            type: string
          in: query
          name: tick1
          required: true
        - schema:
            type: string
          in: query
          name: amount0
          required: false
          description: amount0 and amount1 can only be set individually.
        - schema:
            type: string
          in: query
          name: amount1
          required: false
          description: amount0 and amount1 can only be set individually.
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      amount0:
                        description: The real amount of tick0
                        type: string
                      amount1:
                        description: The real amount of tick1
                        type: string
                      amount0USD:
                        description: The usd value of amount0
                        type: string
                      amount1USD:
                        description: The usd value of amount1
                        type: string
                      lp:
                        description: Estimated lp
                        type: string
                      tick0PerTick1:
                        description: tick0/tick1
                        type: string
                      tick1PerTick0:
                        description: tick1/tick0
                        type: string
                      shareOfPool:
                        description: The proportion of the injected quantity in the pool
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data

  /v1/brc20-swap/pre_add_liq:
    get:
      summary:
        /add_liq interface pre-load, get the signature content, gas and byte
        information.
      tags:
        - BRC20-Swap
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick0
          required: true
        - schema:
            type: string
          in: query
          name: tick1
          required: true
        - schema:
            type: string
          in: query
          name: amount0
          required: true
          description: Input amount of tick0
        - schema:
            type: string
          in: query
          name: amount1
          required: true
          description: Input amount of tick1
        - schema:
            type: string
          in: query
          name: lp
          required: true
          description: Expect amount of lp
        - schema:
            type: string
          in: query
          name: slippage
          required: true
        - schema:
            type: number
          in: query
          name: ts
          required: true
          description: Timestamp (seconds)
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      signMsg:
                        description: User signature information
                        type: string
                      bytesL1:
                        description: Number of bytes on L1 chain
                        type: number
                      bytesL2:
                        description: Number of bytes on L1 chain
                        type: number
                      feeRate:
                        description: Bitcoin network fee rate
                        type: string
                      gasPrice:
                        description: L2 cost per byte
                        type: string
                      serviceFeeL1:
                        type: string
                      serviceFeeL2:
                        type: string
                      unitUsdPriceL1:
                        description: L1 USD price per sats
                        type: string
                      unitUsdPriceL2:
                        description: L2 USD price per sats
                        type: string
                      serviceTickBalance:
                        description: The user's remainin L2 sats balance
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/add_liq:
    post:
      summary: Add the liquidity operation.
      tags:
        - BRC20-Swap
      requestBody:
        content:
          application/json:
            schema:
              required:
                - address
                - tick0
                - tick1
                - amount0
                - amount1
                - lp
                - slippage
                - ts
                - sig
              type: object
              properties:
                address:
                  type: string
                tick0:
                  type: string
                tick1:
                  type: string
                amount0:
                  description: Input amount of tick0
                  type: string
                amount1:
                  description: Input amount of tick1
                  type: string
                lp:
                  type: string
                slippage:
                  type: string
                ts:
                  description: Timestamp (seconds)
                  type: number
                sig:
                  description: User signature
                  type: string
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - amount0
                      - amount1
                    type: object
                    properties:
                      id:
                        description: Function id
                        type: string
                      rollupInscriptionId:
                        description: The rollup inscription id where the function is located
                        type: string
                      address:
                        type: string
                      type:
                        type: string
                      tick0:
                        type: string
                      tick1:
                        type: string
                      amount0:
                        description: Input amount of tick0
                        type: string
                      amount1:
                        description: Input amount of tick1
                        type: string
                      lp:
                        type: string
                      ts:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/quote_remove_liq:
    get:
      summary: Estimate the number of ticks you can get by typing LP.
      tags:
        - BRC20-Swap
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick0
          required: true
        - schema:
            type: string
          in: query
          name: tick1
          required: true
        - schema:
            type: string
          in: query
          name: lp
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      tick0:
                        description: tick0
                        type: string
                      tick1:
                        description: tick1
                        type: number
                      amount0:
                        description: The real amount of tick0
                        type: string
                      amount1:
                        description: The real amount of tick1
                        type: string
                      amount0USD:
                        description: The usd value of amount0
                        type: string
                      amount1USD:
                        description: The usd value of amount1
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data

  /v1/brc20-swap/pre_remove_liq:
    get:
      summary:
        /remove_liq interface pre-load, get the signature content, gas and byte
        information.
      tags:
        - BRC20-Swap
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick0
          required: true
        - schema:
            type: string
          in: query
          name: tick1
          required: true
        - schema:
            type: string
          in: query
          name: amount0
          required: true
          description: Input amount of tick0
        - schema:
            type: string
          in: query
          name: amount1
          required: true
          description: Input amount of tick1
        - schema:
            type: string
          in: query
          name: lp
          required: true
        - schema:
            type: string
          in: query
          name: slippage
          required: true
        - schema:
            type: number
          in: query
          name: ts
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      signMsg:
                        description: User signature information
                        type: string
                      bytesL1:
                        description: Number of bytes on L1 chain
                        type: number
                      bytesL2:
                        description: Number of bytes on L1 chain
                        type: number
                      feeRate:
                        description: Bitcoin network fee rate
                        type: string
                      gasPrice:
                        description: L2 cost per byte
                        type: string
                      serviceFeeL1:
                        type: string
                      serviceFeeL2:
                        type: string
[...]
